<!DOCTYPE>
<html>
	<head>
		<title>{% block title %}WebIPopt{% endblock title %}</title>
		
		{% block css %}{% endblock css %}
	</head>
	
	<body>
		<nav>
			<nav class="main">
				<a href="{% url 'webinterface:index' %}">Home</a>
			{% if user.is_authenticated %}
				<a href="{% url 'webinterface:dashboard' %}">Dashboard</a>
			{% endif %}
			</nav>
			<nav class="authentication">
			{% if not user.is_authenticated %}
				<a href="{% url 'webinterface:register' %}">Register</a>
				<a href="{% url 'webinterface:login' %}">Login</a>
			{% else %}
				<a href="{% url 'webinterface:logout' %}">Logout</a>
			{% endif %}
			</nav>
		</nav>
		<div>
			{% block headline %}{% endblock headline %}
		</div>
		<div>
			{% block content %}{% endblock content %}
		</div>
		{% block js %}{% endblock js %}
	</body>
</html>