{% extends 'webinterface/base.html' %}

{% block headline %}<h1>Dashboard</h1>{% endblock headline %}

{% block content %}

		<div class="tokens">
			<h2>Tokens</h2>
		{% for token in tokens %}
			<div class="token">
				<div>Token: {{token.token}}</div>
				<div>Example API call: http://webipopt.duckdns.org/api/{{token.token}}/</div>
				<div>Daily computation time: {{token.daily_computation_time}} s</div>
				<div>Time used today: {{token.used_computation_time}} s</div>
			</div>
		{% endfor %}
		</div>
		
		<div>
			<div class="problem">
				<h2>Problem definition</h2>
				<form action="/dashboard/" method="post">
					{% csrf_token %}
					<div>
						<label for="token">Token</label></br>
						<input type="text" id="token" name="token" value="{{tokens.0.token}}"/>
					</div>
					<div>
						<label for="problem">Problem definition in JSON format</label></br>
						<textarea id="problem" name="problem" rows="20" cols="80">{{problem}}</textarea>
					</div>
					<input type="submit" value="submit"/>
				</form>
			</div>
			<div class="response">
				<h2>Response</h2>
				{{response}}
			</div>
		
		</div>
		
{% endblock %}