{% extends 'webinterface/base.html' %}

{% block headline %}<h1>Dashboard</h1>{% endblock headline %}

{% block content %}

		<div>Token: {{user.token}}</div>
		<div>Example API call: http://webipopt.duckdns.org/api/{{user.token}}/</div>
		<div>Daily computation time: {{user.daily_computation_time}} s</div>
		<div>Time used today: {{user.used_computation_time}} s</div>
		
		<div>
			<form id="api-interface">
				<div>
					<label for="json-problem">Problem definition in JSON format</label>
					<textarea id="json-problem" rows="20" cols="80"></textarea>
				</div>
				<input type="submit" value="submit"/>
			</form>
			<div id="response">
			</div>
			<script>
				apiCall = function(e){
					if(e.preventDefault){
						e.preventDefault();
					}
					var token = '{{user.token}}'
					console.log(token);
					
					// get the problem
					var problem = document.getElementById('json-problem').value;
					
					// create the ajax request
					var xhttp;
					if (window.XMLHttpRequest) {
						xhttp = new XMLHttpRequest();
					}
					else {
						// code for IE6, IE5
						xhttp = new ActiveXObject('Microsoft.XMLHTTP');
					}
					
					xhttp.open('POST', '../api/'+token+'/', true);
					xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
					xhttp.send( 'problem='+encodeURIComponent(problem) );
					
					console.log(xhttp)
					xhttp.onreadystatechange = function(e){
						if(xhttp.status == 200){
							document.getElementById('response').innerHTML = xhttp.responseText;
						}
						else{
							document.getElementById('response').innerHTML = 'an error occurred';
						}
					}
					
					return false;
				}
				// bind the function to the form submit event
				var apiInterface = document.getElementById('api-interface');
				if(apiInterface.attachEvent) {
					apiInterface.attachEvent('submit', apiCall);
				}
				else {
					apiInterface.addEventListener('submit', apiCall);
				}
			</script>
		</div>
		
{% endblock %}