{% extends 'webinterface/base.html' %}

{% block headline %}<h1>Dashboard</h1>{% endblock headline %}

{% block content %}

		<div class="tokens">
			<h2>Tokens</h2>
		{% for token in tokens %}
			<div class="token">
				<div>Token: {{token.token}}</div>
				<div>Example API call: http://webipopt.duckdns.org/api/{{token.token}}/</div>
				<div>Daily computation time: {{token.daily_computation_time}} s</div>
				<div>Time used today: {{token.used_computation_time}} s</div>
			</div>
		{% endfor %}
		</div>
		
		<div>
			<div class="problem">
				<h2>Problem definition</h2>
				<form action="/api/{{tokens.0.token}}/?next=/dashboard/" method="post">
					<div>
						<label for="problem">Problem definition in JSON format</label></br>
						<textarea id="problem" name="problem" rows="20" cols="80">{{tokens.0.last_supplied_problem}}</textarea>
					</div>
					<input type="submit" value="submit"/>
				</form>
			</div>
			<div class="response">
				<h2>Response</h2>
				{{tokens.0.last_solution}}
			</div>
		
		</div>
		
{% endblock %}