

body{
	margin: 0;
	font-family: 'Open Sans';
}
.toolbar{
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px;
	
	background-color: #444444;
	color: #dddddd;
}
.toolbar h1{
	margin: 0;
	margin-left: 50px;
	margin-bottom: 10px;
}
.toolbar a{
	color: #dddddd;
	text-decoration: none;
	font-weight: bold;
}

nav.main{
	margin-left: 50px;
}
nav.main a{
	display: inline-block;
	color: #dddddd;
	margin-right: 20px;
}

nav.authentication{
	position: absolute;
	top: 10px;
	right: 100px;
}

.headline{
	width: 95%;
	max-width: 1200px;
	margin: auto;
}
.content{
	width: 95%;
	max-width: 1000px;
	margin: auto;
}